$font-stack: sans-serif;
$primary-color: #3e51b5;
$primary-color-opacity: 0.85;
$font-color: #fff;
$link-color: #fff;
$input-height: 42px;
$font-size: 16px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-stack;
  color: $font-color;
  background-color: #fafafa;
  font-weight: lighter;
  font-size: $font-size;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
}

input {
  height: $input-height;
  width: 100%;
  border-style: none;
  font-size: $font-size;
  &:focus {
    outline: none;
  }
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputHeight {
  height: 42px;
}

.fontWeight {
  font-weight: lighter;
}