@import "../../sharedStyles/styles";

.pageContainer {
  background-color: rgba($primary-color, $primary-color-opacity);
  composes: fullWidth from 'sharedStyles/styles.scss';
  composes: fullHeight from 'sharedStyles/styles.scss';
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardGridContainer {
  width: 70%;
  overflow-y: scroll;
}
